.btn {
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  background: #f6b83d;
}
