.container {
  border-radius: 60px;
  width: 100%;
  padding: 119px;
  background: #f6b83d;
}

.text {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 48px auto;
  text-align: center;
}

.wrapper {
  max-width: 650px;
  margin: 40px auto;
}

.link {
  transition: all 0.25s ease;
  border-radius: 30px;
  padding: 14px 30px;
  background: #fff4df;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  display: block;
  margin: 20px auto;
  width: 162px;
}

.link:hover,
.link:focus {
  background: #fbe7c1;
}
